VITE_FIREBASE_API_KEY=AIzaSyCFjBBQOC8Le7ibVWTIClJHAvNJ2miM8VY
VITE_FIREBASE_AUTH_DOMAIN=adminskillhouse.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=adminskillhouse
VITE_FIREBASE_STORAGE_BUCKET=adminskillhouse.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=350121677493
VITE_FIREBASE_APP_ID=1:350121677493:web:324a8e9ef1b89b1659a4fc
VITE_GOOGLE_SHEET_URL=https://script.google.com/macros/s/AKfycbzHpiBBWyMTc66DPMUH4pMkYrN0H2un452sZFlM5RpdYK_iuywEu-1znyfD6jilfGviSQ/exec
